@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.products-wrapper .product {
  @apply w-full max-w-[300px] flex flex-col justify-center items-center overflow-hidden rounded-lg shadow-[0_15px_55px_rgba(35,35,35,0.15)] mb-6 cursor-pointer;
}
.modal.show-modal {
  display: block;
}
cart-container.show-cart {
  top: 33.33%;
}
